/*
    Name: Samhita Achanta
    File Name: styles.css
    Assignment: Project 1
    This is the main CSS for the HTML landing page of the project.  
*/

*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100%;
    background: #f9eccc;
    /* background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.52%, #133917 75.52%); */
}

a{
    text-decoration: none;
}

.logo a{
    color: #754668;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 600;
    position:relative;
    padding:0 2rem;
}


.navbar{
    width:100%;
    height:15vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 18px;
}

.links ul li a {
    color: #754668;

}

.links ul li a:hover{
    color: #727272;
    transition: 0.5s;
}

.btn a{
    background: #754668;
    padding: 15px 15px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    border-radius:10px;
    letter-spacing: 1px;
}

.food{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

section{
    padding: 0 10%;
}

.food-text h1{
    font-family: 'Comfortaa', cursive; /*change font*/
    font-size: 40px;
    line-height: 1;
    color: #754668;
    margin: 0 0 20px;
}

.food-text p{
    color: #754668;
    font-size:15px;
    line-height: 1.9;
    margin-bottom: 20px;
}

.fridge-img img{
    height: auto;
}

.food-text a{
    display: inline-block;
    color: white;
    background: #4d9559;
    border: 1px solid transparent;
    padding: 10px 15px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.food-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

